body {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

input[type=submit] {
    width: 300px;
    height: 100px;
}

.score {
    color: orange;
}
